h1{
    background-color:red;
    margin:0px;
    margin-right:0%;
    height:150px;
    color:white;
    text-align:center;
    line-height: 130px;
    font-size: 40px;
h2{
    padding-left:300px
}


}
.video{
    position:absolute;
    float:left;
    padding-left:15%;
}
th,tr{
    border:1px solid black;
}
.list{
    position:absolute;
    top: 120%;
    right: 20%;
    width: 20%;
    height:20%;
}
